@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  40% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  letter-spacing: .2rem;
  transition: all .2s; }

.paragraph {
  font-size: 1.8rem; }

.bg__color--dark {
  color: #0D252D; }

.u-center-text {
  text-align: center !important; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 48rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-image: linear-gradient(to right bottom, #FFFA00, #FF9D00); }
      .card__side--front-2 {
        background-image: linear-gradient(to right bottom, #73FF91, #45D75D); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #FF9D00, #FFFA00); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #45D75D, #73FF91); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #0091ff;
    top: 0; }
  .card__details--1 {
    width: 100%;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__details--1 ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details--1 ul li {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 700;
        padding: 1rem;
        color: #0091ff; }
        .card__details--1 ul li:not(:last-child) {
          border-bottom: 1px solid #0091ff; }
  .card__details--2 {
    width: 100%;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__details--2 ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details--2 ul li {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 700;
        padding: 1rem;
        color: #c69963; }
        .card__details--2 ul li:not(:last-child) {
          border-bottom: 1px solid #c69963; }
  .card__details--3 {
    width: 100%;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__details--3 ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details--3 ul li {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 700;
        padding: 1rem;
        color: #0091ff; }
        .card__details--3 ul li:not(:last-child) {
          border-bottom: 1px solid #0091ff; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #0091ff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 100%; }

.row {
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .ng-col-1-of-2 {
    width: calc(100% / 2);
    float: left; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(91, 195, 235, 0.7), rgba(13, 37, 45, 0.7)), url(/img/hotel-building.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* centers button as it is text */ }

.outdoor__text-box {
  padding: 0 10rem;
  color: #5BC3EB; }

.welcome__text-box {
  padding: 0 10rem; }

.section-welcome {
  background-color: #0D252D;
  padding: 15rem 0; }

.section-food {
  background-color: #4169e1;
  padding: 15rem 0; }
  .section-food .row {
    max-width: 114rem; }

.section-outdoor {
  padding: 15rem 0; }
