// COLORS
$color-primary: #88D8C8;
$color-primary-light: #5BC3EB;
$color-primary-dark: #0D252D;

$color-secondary-light: #D31F1F;
$color-secondary-dark: #960909;

$color-tertiary-light: #0091ff;
$color-tertiary-dark: #5643fa;

$color-brown: #c69963;
$color-brown-dark: #B28451;


$color-tan-dark-1: #54483A;
$color-tan-dark-2: #6D5D4B;


$color-grey-light-1: #EDE6E3;
$color-grey-light-2: #C1BCBA;

$color-yellow-light-1: #FFFA00;
$color-orange-light-1: #FF9D00;

$color-green-light-1: #73FF91;
$color-green-dark-1: #45D75D;

$color-blue-dark-1: #4169e1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #36382E;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
