.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 48rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    
        &--front {

            &-1 {
                background-image: linear-gradient(to right bottom, $color-yellow-light-1, $color-orange-light-1);                        
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-green-light-1, $color-green-dark-1);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-brown, $color-brown-dark);
            }
        }
    
        &--back {
            transform: rotateY(180deg);
    
            &-1 {
                background-image: linear-gradient(to right bottom, $color-orange-light-1, $color-yellow-light-1);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-green-dark-1, $color-green-light-1);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-brown, $color-brown-dark);
            }
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        top: 0;

        &-span {

            &-1 {
                color: $color-tertiary-light;
            }

            &-2 {
                color: $color-brown-dark-2;
            }

            &-3 {
                color: #fff;
            }
        }
        
    }

    &__details {

        &--1 {
            width: 100%;
            padding: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            ul {
                list-style: none;
                width: 90%;
                margin: 0 auto;

                li {
                    text-align: center;
                    font-size: 1.75rem;
                    font-weight: 700;
                    padding: 1rem;
                    color: $color-tertiary-light;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-tertiary-light;
                    }
                }
            }
        }

        &--2 {
            width: 100%;
            padding: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            ul {
                list-style: none;
                width: 90%;
                margin: 0 auto;

                li {
                    text-align: center;
                    font-size: 1.75rem;
                    font-weight: 700;
                    padding: 1rem;
                    color: $color-brown-dark-2;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-brown-dark-2;
                    }
                }
            }

        }

        &--3 {
            width: 100%;
            padding: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            ul {
                list-style: none;
                width: 90%;
                margin: 0 auto;

                li {
                    text-align: center;
                    font-size: 1.75rem;
                    font-weight: 700;
                    padding: 1rem;
                    color: #fff;

                    &:not(:last-child) {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
            
        }
        
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        // color: $color-tertiary-light;
        margin-bottom: 8rem;

        &-1 {
            color: $color-tertiary-light;
        }

        &-2 {
            color: $color-brown-dark-2;
        }   

        &-3 {
            color: #fff;
        }
    }

    &__price-only {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}